<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <context-param>
        <param-name>dburl</param-name>
        <param-value>jdbc:derby://localhost:1527/jbp</param-value>
    </context-param>
    <filter>
        <filter-name>sessionFilter</filter-name>
        <filter-class>filters.sessionFilter</filter-class>
    </filter>
    <filter>
        <filter-name>receiptFilter</filter-name>
        <filter-class>filters.receiptFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>receiptFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>sessionFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <listener>
        <description>ServletContextListener</description>
        <listener-class>listeners.WebappContextListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>servlets.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LandingBuyerServlet</servlet-name>
        <servlet-class>servlets.LandingBuyerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowProductsBuyer</servlet-name>
        <servlet-class>servlets.ShowProductsBuyerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConfirmServlet</servlet-name>
        <servlet-class>servlets.ConfirmProductsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LandingBuyerServlet</servlet-name>
        <url-pattern>/Buyer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowProductsBuyer</servlet-name>
        <url-pattern>/ProductsBuyer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConfirmServlet</servlet-name>
        <url-pattern>/Confirm</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
